body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
    background-color: #000; /* Fundo preto */
    color: #fff; /* Cor do texto branca */
    font-family: 'Arial', sans-serif;
    margin: 0; /* Remove margens padrão do body */
    overflow: hidden; /* Para evitar barras de rolagem */
}

.clock-container {
    text-align: center;
    position: relative; /* Para permitir o movimento, se necessário */
    animation: move 10s linear infinite; /* Animação de movimento */
}

.clock {
    font-size: 10rem; /* Tamanho da fonte do relógio */
    margin-bottom: 20px; /* Espaço abaixo do relógio */
}

.controls {
    font-size: 2rem; /* Tamanho da fonte dos controles */
}

body {
    font-family: 'Tektur', sans-serif;
}

h1 {
    font-family: 'Tektur', sans-serif;
    font-weight: 700; /* Peso mais grosso para o título */
}

p {
    font-family: 'Tektur', sans-serif;
    font-weight: 400; /* Peso normal para o parágrafo */
}